/* Laptop */
@media screen and (max-width: 64rem) {
  .banner-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 7rem;
  }
}

/* Tablet */
@media screen and (max-width: 48rem) {
  .list-item {
    display: none;
  }
}
